.jumbotron {
    text-align: center;
    margin-bottom: 30px;
    background: #E9E9FF;
  }
  
  nav.navbar.sticky-top {
    background: #E9E9FF;  
    border-radius: 6px; 
    margin-bottom: 20px;
  }

  h5.text-muted {
    text-align: right;
    font-family: 
  }